.searchBar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;    

    input {
        flex-grow: 1;
        padding: 8px;
        font-size: 16px;
    }

    .clearButton {
        background: rgb(109, 14, 14);
        color: white;
        border: none;
        cursor: pointer;
        padding: 8px;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }
    }
}

.resultList {
    list-style: none;
    padding: 0 10px;
}

.resultHeader {
    margin-bottom: 20px;
}

.episodeItem {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    background: #ffffff;
    border-radius: 5px;
}

.episodeHeader {
    display: flex;
    
    margin-bottom: 10px;
}

.title {
    margin: 0;
}

.subtitleList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitleEntry {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
    padding-bottom: 0;
        border-bottom: none;
    }
}

.tooltipLink {
    font-size: 12px;
}

.line {
    margin-right: 3px;
    font-weight: bold;
}

.resume {
    text-decoration: underline;
}

.italic {
    font-style: italic;
    font-weight: 500;
}

.spinnerWrapper {
    display: flex;
    align-items: center;
}

.episodeButton {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
}

.episodeInfoWrapper {
    display: flex;
    align-items: baseline;
}

.episodeInfo {
    all: unset;
    font-size: 11px;
    position: relative;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}